<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Accept Bet</h1>
    <p><%= `${bet.userId.username}
        ${bet.coinId} ${bet.betType} by ${bet.amount}%  
        wagering ${bet.wager} tokens!` %></p>
    <form action="/betBoard/<%= user._id %>/acceptBet/<%= bet._id %>" method="POST">
        <button type="submit">Accept Bet</button>
    </form>

</body>
</html>