<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>HOLD or FOLD</title>
    </head>
    <body>
        <%- include('./partials/_navbar.ejs') %> 
        <% if (user) { %>
            <h1>Welcome to HOLD or FOLD, <%= user.username %>!</h1>
            <% } else { %>
            <h1>Welcome to HOLD or FOLD</h1>
            <% } %>
    </body>
</html>
