/* Navbar Styling */
@import url("https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2333;
    padding: 0px 2px;
    color: white;
    position: relative;
    border-radius: 10px;
    border: 3px solid black;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 0;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    gap: 250px;
    align-items: center;
    width: 100%;
    

}
.user-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 10px;
}
.auth-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.sign-in,
.sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 8px 20px 8px 20px;
    font-family: "Arsenal SC", system-ui;
    font-size: 20px;
    font-weight: bolder;
}
button.sign-in {
    margin-right: 10px;
    padding: 8px 22px 8px 23px;
}
button.sign-up {
    margin-left: 10px;
    
}
.top-bets-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap; 
    gap: 30px; 
    margin-bottom: 20px;

}
.top-bets:hover::after

{
    transform: scale(1.05);
}
.top-bets {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background-color:#1b213a;
    color: #f1f1f1;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    position: relative; 
    width: 200px; 
    margin: 5px 0px;
    font-size: 20px;
    text-shadow: 0px 10px 20px rgba(0, 0, 0, 1);;
   

}
.top-bets::after,
.top-bets::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: red;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding:4px;
    border-radius: 10px;
    background: conic-gradient(
        from var(--angle) at 50% 50%,
        #003f5b,
        #644e98,
        #bb56ac,
        #f37b7c,
        #e6a100,
        #96ff40,
        #3589aa,
        #1308a8,
        #003f5b
    );
    animation: 3s spin linear infinite;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 10px;
}
.top-bets::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

.desc {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    max-width: 750px;
    margin: 0 auto;
    padding: 20px;
}
.desc-title-container {
    display: flex;
    justify-content: center;
}
#title {
    font-size: 50px;
    margin: 5px;
    color: #ffb325;
    font-family: "Stalinist One", system-ui;
    text-shadow: 0px 10px 20px rgba(0, 0, 0, 1);;
}
#top-bets-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:50px;
    color: #f1f1f1;
    text-shadow: 0px 10px 20px rgba(0, 0, 0, 1);
}
#username{
    font-weight: bolder;
    font-size: 30px;
    color: #ffb325;
}
#top-bets-tokens{
    font-weight: bold;
    margin-bottom: 15px;
}
#desc-title {
    color: #f1f1f1;
    border-bottom: 4px solid #4f7ad8;
    display: inline-block;
    padding: 20px 0 5px 0;
    margin: 0 auto;
    text-shadow: 0px 10px 20px rgba(0, 0, 0, 1);
}
#desc-text{
    font-size: 20px;
    color: #f1f1f1;
    
}

body {
    background-color: #1b213a;
background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%2323283d' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    display: flex;
    flex-direction: column;
    font-family: "Arsenal SC", system-ui;
    
}
p{
    margin: 5px 0px;
    display: inline;
    text-shadow: 0px 10px 20px rgba(0, 0, 0, 1);
    
}
button{
    color: rgb(255, 255, 255);
    padding: 8px 20px 8px 20px;
    border-radius: 8px;
    font-weight: bolder;
    font-size: 15px;
    background-color: #3a6dda; 
    text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}
button:hover{
    cursor: pointer;
}
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}
